@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom checkbox antd */
.ant-checkbox .ant-checkbox-inner {
  width: 20px;
  height: 20px;
  border-color: #7ce8ff;
}
